/* // h1 {
//   padding-bottom: 1em;

// }

// h3 {
//   margin-left: 1em;
// }

// .imagedialog {
//   width: 100%;
//   height: 100%;
// }

// .patientcontainer {
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   max-width: 600px;
//   width: 600px;

//   @media screen and (max-width: 480px) {
//     width: 100%;
//   }

//   .patientcardcontainer {
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     margin: .5em;
//     padding: 1em;
//     border: 1px solid #ccc;
//     border-radius: 2px;
//     box-shadow: 0 0 5px #ccc;

//     :last-child {
//       margin-bottom: 0px;
//     }
//   }

//   .patientcard {
//     //margin: 10px;
//     display: flex;
//     flex-direction: row;
//     min-width: 300px;
//     height: 45px;
//     line-height: 22px;
//     border-left: 4px solid green;
//     border-radius: 2px;
//     margin-bottom: 10px;

//     &:hover {
//       background-color: #f5f5f5;
//     }

//     //background-color: lightgray;

//     &.New {
//       border-left: 4px solid green;
//     }

//     &.In-progress {
//       border-left: 4px solid orange;
//     }

//     &.Closed {
//       border-left: 4px solid red;
//     }

//     .ui-icon {
//       margin-right: 340px;
//     }

//     .name {
//       display: flex;
//       flex-wrap: wrap;
//       align-content: center;
//       //border-bottom: 1px solid #ccc;
//       min-width: 200px;
//       font-size: 12pt;
//       font-weight: bold;
//       padding-left: 10px;
//       cursor: pointer;
//     }

//     .icon {
//       display: flex;
//       flex-wrap: wrap;
//       align-content: center;
//       cursor: pointer;
//       margin-right: 10px;
//       font-size: 14px;
//     }

//     .status {
//       display: flex;
//       flex-wrap: wrap;
//       align-content: center;
//       border-bottom: 1px solid #ccc;
//       min-width: 100px;
//       //margin-left: 16px;

//     }
//   }

//   .feedbackcontainer {
//     //width: 600px;

//     .header {
//       font-weight: 700;
//     }

//     .text {
//       margin-bottom: .5em;
//     }
//   }

//   .addfeedbackcontainer {
//     button {
//       margin: 10px 10px 10px 10px;
//     }
//   }

//  */

/* background-image: url("./images/CarnivalPixel.png") !important; */
/* background-color: antiquewhite; */
/* background-size: cover;
  background-position: center;
  color: var(--font-color);
  box-sizing: border-box;
  font-size: 14px; */

.bg {
  background-image: url("../images/CarnivalPixel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.container {
  text-align: center;
  font-size: 14px;
  color: black;
  position: absolute;
  width: 90%;
  background: rgba(255, 255, 255, 0.94);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.77);
  border-radius: 17px;
  margin: 20 auto;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  padding: 20px 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 90%;
  height: 75px;
  background-image: url("../images/Logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  display: block;
  margin-top: 10px;
  alt: "Logo";
}

.line {
  width: 90%;
  height: 3px;
  background: #212d6d;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.gameSelect {
  height: 70;
  width: 70;
  background: white;
  align-self: center;
  justify-self: center;
}

.gameSelect:hover {
  background: white;
  color: white;
  cursor: pointer;
  border: #212d6d solid 2px;
}

.appMenu {
  display: inline-flex;
  gap: 2rem;
  margin: 0 auto;
}

.appMenu h2 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #212d6d;
}

.gameCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: start;
  margin: auto;
  justify-items: center;
}

.gameCard p {
  font-size: small;
  color: #212d6d;
  font-weight: bolder;
}

.gameSelect:nth-of-type(-n + 3) {
  grid-column: span 2;
}

.detailsColumn {
  float: right;
  width: 100%;
  text-align: left;
  padding: 0 10px;
}

.detailsColumn h6 {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-weight: bold;
  color: #212d6d;
}

.detailsColumn p {
  margin: 0;
  padding: 0;
  font-size: 9pt;
  color: #212d6d;
  font-style: italic;
}

.iconColumn {
  float: left;
  width: 25%;
  margin: 0 auto;
}

.gameSelect img {
  width: 100%;
}

.gameCard:after {
  content: "";
  display: table;
  clear: both;
}

.gameIcon {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  display: block;
  margin-top: 10px;
  alt: "Logo";
}
