
.sidePanel p {
    font-family: 'Quicksand', sans-serif;
}
.sidePanel button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 10px !important;
    margin-bottom: 10px;
    border-radius: 5px;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
    transition: transform 0.2s ease;
}

.sidePanel button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(27, 98, 27);
    color: white;
}

.ready {
    background-color: rgb(204, 108, 18) !important;
}

.players {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.playertitle {
    text-align: center;
    font-size: medium;
}

.unity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 90%;
    height: 100%vh;
    overflow: hidden;
    margin-left: 4%;
    filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.651));
}

.unity-container canvas {
    width: 80%;
    height: auto;
}

.verticalButtons  {
    display: flex;
    flex-direction: column;
  }